@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

/* Timer */

.timer-section {
  text-align: center;
  padding: 2em;
}

.timer {
  font-size: 32px;
}

/* Buttons */

.btn-container {
  text-align: center;
}

.btn {
  outline: none;
  background: transparent;
  border-radius: 5px;
  border: 1px solid;
  padding: 5px 10px;
  margin: 10px;
  width: 75px;
  cursor: pointer;
}

.start-btn {
  color: #33cc33;
  border-color: #33cc33;
}

.stop-btn {
  color: #ff0000;
  border-color: #ff0000;
}

.reset-btn,
.lap-btn {
  color: #595959;
  border-color: #595959;
}

button:disabled {
  opacity: 0.5;
}

/* Laps */

.laps-section {
  text-align: center;
  padding: 1em;
}

.lap {
  margin: 1em;
}

.lap-number {
  margin-right: 1em;
}
